
/* START TYPOGRAPHY */

.REC-theme-typography-body {
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #FFFFFF;
}

.REC-theme-typography-sectionTitle {
  font-style: normal;
  font-weight: 800;
  font-size: 2.1rem;
  line-height: 2.6rem;
  color: #ffebee;
}

.REC-theme-typography-header {
  font-style: normal;
  font-weight: 800;
  font-size: 4.4rem;
  line-height: 3.0rem;
  color: #ffcdd2;
}

.REC-theme-typography-description {
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.6rem;
  color: #ef9a9a;
}

.REC-theme-typography-introGreeting {
  font-style: normal;
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 3rem;
  color: #e57373;
}

.REC-theme-typography-introName {
  font-style: normal;
  font-weight: 800;
  font-size: 3.2rem;
  line-height: 4rem;
  color: #ef5350;
}

/* END TYPOGRAPHY */

/* START COMPONENTS */

/* Component: components.Button */
.REC-Button {
  background: #00acc1;
  width: fit-content;
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 6px;
  align-items: center;
  vertical-align: middle;
  padding: 0 16px;
  height: 40px;
  min-width: 40px;
  font-size: 16px;
  margin: 0;
  border: 0;
  cursor: pointer;
}

/* Component: components.Button.rules.hover=true */
.REC-Button:hover {
  background: #00bcd4;
}
/* End Component: components.Button.rules.hover=true */

/* Component: components.Button.rules.disabled=true */
.REC-Button:disabled {
  background: #00acc1;
  color: #FFFFFF;
  opacity: 0.4;
  pointer-events: auto;
  cursor: not-allowed;
}
/* End Component: components.Button.rules.disabled=true */

/* Component: components.Button.rules.focus=true */
.REC-Button:focus {
  box-shadow: outline;
}
/* End Component: components.Button.rules.focus=true */

/* Component: components.Button.rules.active=true */
.REC-Button:active {
  background: #e0e0e0;
}
/* End Component: components.Button.rules.active=true */
/* End Component: components.Button */

/* END COMPONENTS */
